<table cellpadding="3" cellspacing="0" border="0" class="list" width="100%">
	<tbody>
		{% if path %}
		<tr>
			<td><img src="/media/images/up.png"/></td>
			<td><a href="..">Parent</a></td>
			<td>&nbsp;</td>
			<td align="right">&nbsp;</td>
		</tr>
		{% endif %}
		{% for d in directories %}
		<tr>
			<td><img src="/media/images/folder.png"/></td>
			<td><a href="{{ d.href }}">{{ d.text }}</a></td>
			<td>&nbsp;</td>
		</tr>
		{% endfor %}
		{% for f in files %}
		<tr>
			<td><img src="/media/images/file.png"/></td>
			<td><a target="_blank" href="{{ f.href }}">{{ f.text }}</a></td>
			<td>{{ f.size }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
